@media screen and (max-width: 900px) {
    .navigation {
        gap: 20px;
    }

    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .nuk {
        flex-direction: column;
        gap: 20px;
    }

    .header {
        gap: 20px;
    }

    .registration {
        gap: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .block-info {
        position: static;
        width: 100%;
        margin-top: 100px;
    }

    .video-wrap {
        position: relative;
        transform: none;
        width: 100%;
    }

    #video {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .numbers {
        flex-direction: column;
        align-items: center;

    }

    .numbe {
        flex-basis: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        border-bottom: 1px solid #E7EAEB;
        border-right: none;
    }

    .round {
        display: none;
    }

    .round-mini {
        display: none;
    }
}