@media screen and (max-width: 1400px) {
    .brown {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .block-info {
        position: static;
        width: 100%;
        margin-top: 100px;
    }

    .video-wrap {
        position: relative;
        transform: none;
        width: 100%;
    }

    #video {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .orange-2 {
        display: none;
    }

    .round-2 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .learn-item {
        flex-direction: column;
    }

    .learn-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .blur img {
        width: 200px;
        height: 200px;
    }

    .learn-statistic {
        margin-top: 30px;
        padding: 20px;
    }

    .orange {
        display: none;
    }

    .oval {
        display: none;
    }

    .navigation {
        gap: 20px;
    }

    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .blur img {
        width: 200px;
        height: 200px;
    }

    .blur {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 640px) {
    .nuk {
        flex-direction: column;
        gap: 20px;
    }

    .header {
        gap: 20px;
    }

    .registration {
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        flex-direction: column-reverse;
    }

    .blur {
        max-width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    .numbers {
        flex-direction: column;
        align-items: center;
    }

    .numbe {
        flex-basis: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        border-bottom: 1px solid #E7EAEB;
        border-right: none;
    }

    .round {
        display: none;
    }

    .round-mini {
        display: none;
    }

    .left-text h1 {
        font-size: 32px;
    }

    .left-text p {
        font-size: 16px;
    }

    .accordion-toggle {
        background: none;
    }
}