@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Mulish;
    src: url(../Fonts/Mulish/Mulish-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Mullishbold;
    src: url(../Fonts/Mulish_bold/Mulish-VariableFont_wght.ttf);
    font-weight: 700;
}

.header {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.registration {
    display: flex;
    gap: 50px;
    align-items: center;
}

.link {
    display: flex;
    text-decoration: none;
    color: #001A49;
    font-family: Mullishbold;
}

.start {
    border-radius: 33px;
    color: #ffffff;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    border: none;
    min-width: 150px;
    padding: 15px 20px;
    cursor: pointer;
    font-family: Mullishbold;
}

.start:active {
    box-shadow: inset 0 0 10px #0000004d;
}

.nuk {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.big-text {
    font-family: Montserrat;
    max-width: 540px;
    font-size: 60px;
}

.block {
    position: relative;
    padding: 80px 0;
    margin-top: 30px;
}

.block-info {
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(44deg, rgba(203, 15, 255, 0.05) 15.75%, rgba(159, 5, 255, 0.05) 84.63%);
    width: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.block-info-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.text {
    font-family: Mulish;
    max-width: 420px;
}

.start-2 {
    border-radius: 33px;
    color: #ffffff;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    border: none;
    min-width: 150px;
    padding: 15px 20px;
    cursor: pointer;
    font-family: Mullishbold;
    margin-top: 30px;
}

.start-2:active {
    box-shadow: inset 0 0 10px #0000004d;
}

.students {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.img-text {
    font-family: Mulish;
}

.img-text span {
    color: #9F07FF;
}

.ava1 {
    translate: 0px;
}

.ava2 {
    translate: -20px;
}

.ava3 {
    translate: -40px;
}

.video-wrap {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    z-index: 3;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: none;
    background: none;
}

.video-wrap video {
    width: 590px;
    border-radius: 20px;
}

.play {
    background-color: #ffffff;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.isPlayning+.play {
    opacity: 0;
}

.isPlayning:hover+.play,
.play:hover {
    opacity: 1;
}

.play svg {
    position: relative;
    left: 1px;
}

.df-block {}