@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Mulish;
    src: url(../Fonts/Mulish/Mulish-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Mullishbold;
    src: url(../Fonts/Mulish_bold/Mulish-VariableFont_wght.ttf);
    font-weight: 700;
}

body {
    margin: 0;
}

.header {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.registration {
    display: flex;
    gap: 50px;
    align-items: center;
}

.link {
    display: flex;
    text-decoration: none;
    color: #001A49;
    font-family: Mullishbold;
}

.start {
    border-radius: 33px;
    color: #ffffff;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    border: none;
    min-width: 150px;
    padding: 15px 20px;
    cursor: pointer;
    font-family: Mullishbold;
}

.start:active {
    box-shadow: inset 0 0 10px #0000004d;
}

.nuk {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.big-text {
    font-family: Montserrat;
    max-width: 540px;
    font-size: 60px;
}

.block {
    position: relative;
    padding: 80px 0;
    margin-top: 30px;
}

.block-info {
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(44deg, rgba(203, 15, 255, 0.05) 15.75%, rgba(159, 5, 255, 0.05) 84.63%);
    width: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.block-info-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.text {
    font-family: Mulish;
    max-width: 420px;
}

.start-2 {
    border-radius: 33px;
    color: #ffffff;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    border: none;
    min-width: 150px;
    padding: 15px 20px;
    cursor: pointer;
    font-family: Mullishbold;
    margin-top: 30px;
}

.start-2:active {
    box-shadow: inset 0 0 10px #0000004d;
}

.students {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.img-text {
    font-family: Mulish;
}

.img-text span {
    color: #9F07FF;
}

.ava1 {
    translate: 0px;
}

.ava2 {
    translate: -20px;
}

.ava3 {
    translate: -40px;
}

.video-wrap {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    z-index: 3;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: none;
    background: none;
}

.video-wrap video {
    width: 590px;
    border-radius: 20px;
}

.play {
    background-color: #ffffff;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.isPlayning+.play {
    opacity: 0;
}

.isPlayning:hover+.play,
.play:hover {
    opacity: 1;
}

.play svg {
    position: relative;
    left: 1px;
}

.round {
    background-image: linear-gradient(#CD10FF 15.75%, #9F06FF 84.63%);
    width: 288px;
    height: 288px;
    border-radius: 160px;
    position: absolute;
    top: 20px;
    left: -200px;
    z-index: -1;

}

.numbers {
    position: relative;
    display: flex;
    max-width: 1120px;
    margin: auto;
    margin-top: 100px;
    border-radius: 21px;
    border: 1px solid #E7EAEB;
    background: #FFF;
    padding: 30px;
}

.numbe {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #E7EAEB;
}

.numbe:last-child {
    border: none;
}

.numbe h4 {
    font-family: Montserrat;
    font-size: 40px;
    margin: 0;
    line-height: 1;
}

.numbe p {
    font-family: Mulish;
    font-size: 16px;
    margin: 0;
}

.round-mini {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 160px;
    top: 222px;
    left: 5px;
    background: linear-gradient(#FFD7A9 9.11%, #FFAE70 71.64%);
}

.center-object {
    font-family: Montserrat;
}

.tables {
    position: relative;
    padding-top: 150px;
    overflow: hidden;
}

.text-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-center p {
    font-family: Mulish;
    max-width: 420px;
}

.brown {
    width: 382px;
    height: 382px;
    background: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
    border-radius: 200px;
    position: absolute;
    right: -230px;
}

.learn-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

.learn-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(44deg, #cb10ff13 15.75%, #a006ff13 84.63%);
    border-radius: 21px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 45px;
    padding-left: 45px;

}

.learn-content h3 {
    font-family: Montserrat;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.learn-content p {
    font-family: Mulish;
    margin: 0;
}

.learn-video {
    font-family: Mulish;
}

.learn-hours {
    font-family: Mulish;
}

.learn-info {
    display: flex;
    gap: 14px;
    max-width: 500px;
}

.learn-statistic {
    display: flex;
    padding: 25px;
    border-radius: 160px;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
}

.learn-hours {
    color: white;
}

.learn-video {
    color: white;
    border-right: 1px solid #8639B5;
    border-right-width: 1px;
    flex-grow: 1;
}

.learn-stat-item {
    padding-left: 25px;
}

.learn-stat-item:first-child {
    padding-left: 0;
    padding-right: 20px;
}

.left-text h1 {
    font-family: Montserrat;
    color: #001A49;
    max-width: 550px;
    font-size: 46px;
}

.left-text p {
    font-family: Mulish;
    max-width: 510px;
    font-size: 20px;

}

.profile {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.orange {
    background: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
    width: 88px;
    height: 88px;
    border-radius: 90px;
    position: absolute;
}

.blur {
    display: flex;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    width: 354px;
    height: 354px;
    border-radius: 180px;
    position: relative;
    overflow: hidden;
}

.oval {
    background: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
    width: 132px;
    height: 132px;
    border-radius: 180px;
    opacity: 0.3;
    position: absolute;
}